/* Tema claro principal do Ionic. */
:root {
  --ion-color-primary: #00695c;
  --ion-color-primary-rgb: 0, 105, 92;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #005c51;
  --ion-color-primary-tint: #1a786c;

  --ion-color-secondary: #009688;
  --ion-color-secondary-rgb: 0, 150, 136;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #008478;
  --ion-color-secondary-tint: #1aa196;

  --ion-font-family: Arial, Helvetica, sans-serif;
}
